
body{
    font-family: "Poppins";
    background-color: rgb(35, 35, 37);
}
.header-list{
list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 50px;
  margin-right: auto;
  margin-bottom: 50px;
}

.main-item{
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    padding: 10px 10px;
    border-radius: 10px;
    -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: background-color 0.3s ease, transform 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
    border: 1px solid slategrey;
}

.main-item:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.footer-p{
    color: white;
}

.card-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.main-link{
    text-decoration: none;
    color: azure;
    
}

.img-list{
    list-style: none;
    gap: 10px;
    display: flex;
    flex-wrap: wrap; 
}

.logo{
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 10px;
}

.radius{
    border-radius: 10px;
}

.ad{
    background-image: url(images/vscode-screen.png);
    background-position: center;
    backdrop-filter: blur(10px);
    height: 300px;
    z-index: 2;
}

.ad-title{
    color: rgb(255, 255, 255);
}

.ad-p{
    color: white;
}

.ad-item{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    backdrop-filter: blur(5px);
}

.ad-img{
margin-right: 20px;
}

.header-link{
    color: azure;
    text-decoration: none;
    text-align: center;
}

.main-list{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
}

.main-list2{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.download-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: azure;
    text-decoration: none;
}

.main-title{
    color: azure;
    text-align: center;
}

.download-button{
    text-decoration: none;
    color: azure;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-left:30px ;
    width: 105px;
    background-color: #e0e0e03b;
    backdrop-filter: blur(10px);
    padding: 10px 10px;
    border-radius: 10px;
    transition-property: background-color;
    transition-duration: 250ms;
}

.download-button:hover{
    background-color: #bebebe54;
}

.winexappstore{
    color: azure;
    font-size: 20px;
    margin-top: 13px;
    text-decoration: none;
    display: flex;

}

header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.warawing-text{
    color: white;
    display: flex;
align-items: center;
}

.w-ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.warawing{
    max-width: 5200px;
  
    padding: 10px 20px;
border-radius: 5px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
    background-color: rgba(255, 0, 0, 0.468);
}

.n{
    width: 20px;
    height: 20px;
    margin: 10px;
    fill: aliceblue;
}

.try{
    color: rgb(255, 235, 199);
}

.mailto{
    text-decoration: none;
    color: azure;
}

.footer-p{
    color: azure;  
}

.footer-link{
    text-decoration: none;
    color: azure;
}

.footer-list{
    list-style: none;
}

.product-img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.pro-vote{
    margin-left: 30px; 
}

.download-title{
    margin-left: 30px;
}

.download-description{
    color: azure;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 70px;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
   }
   
   .menu-item {
    position: relative;
    margin-right: 15px;
   }
   
   .menu-item:hover .submenu {
    display: block;
   }
   
   .menu-item:hover .menu-link {
scale: (1.1);
   }
   
   .menu-link {
    -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    -o-transition: background-color 0.3s ease, transform 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgb(35, 35, 37);
    color: white;
   }
   
   .submenu {
    position: absolute;
    width: 100%;
    /* top: 100%; */
    left: 0;
    margin: 0;
    list-style: none;
    padding: 10px;
    background-color: #ffffff18;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    display: none;
   }

   .submenu-link{
    text-decoration: none;
    color: white;
   }
   

.container{
    margin: 0 auto;
    width: 1200px;
}

@media (min-width:20px) and (max-width:480px) {
    .container{
      max-width: 320px;   
    }
   
.w-ul{
    flex-direction: column;
    padding-left:0px ;
}

    .header-list{
        display: block;
    }

}