body{
    font-family: "Poppins";
    background-color: rgb(35, 35, 37);
}
.header-list{
list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  margin-right: auto;
  width: 676px;
  margin-bottom: 50px;
}

.main-item{
    backdrop-filter: blur(10px);
    padding: 10px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 1px solid slategrey;
}

.main-item:hover{
    transform: scale(1.1);
}

.card-title{
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-link{
    text-decoration: none;
    color: azure;
    
}

.radius{
    border-radius: 10px;
}

.header-link{
    color: azure;
    text-decoration: none;
    text-align: center;
}

.main-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
}

.main-list2{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

.download-info{
    display: flex;
    color: azure;
    text-decoration: none;
}

.main-title{
    color: azure;
    text-align: center;
}

.download-button{
    text-decoration: none;
    color: azure;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-left:30px ;
}

.winexappstore{
    color: azure;
    font-size: 20px;
    margin-top: 13px;
    text-decoration: none;
}

header{
    display: flex;
}

.mailto{
    text-decoration: none;
    color: azure;
}

.footer-p{
    color: azure;  
}

.footer-link{
    text-decoration: none;
    color: azure;
}

.footer-list{
    list-style: none;
}

.product-img{
    display: flex;
}

.pro-vote{
    margin-left: 30px; 
}

.download-title{
    margin-left: 30px;
}

.download-description{
    color: azure;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
   }
   
   .menu-item {
    position: relative;
    margin-right: 15px;
   }
   
   .menu-item:hover .submenu {
    display: block;
   }
   
   .menu-item:hover .menu-link {
scale: (1.1);
   }
   
   .menu-link {
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgb(35, 35, 37);
    color: white;
   }
   
   .submenu {
    position: absolute;
    width: 100%;
    /* top: 100%; */
    left: 0;
    margin: 0;
    list-style: none;
    padding: 10px;
    background-color: #cccccc54;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    display: none;
   }

   .submenu-link{
    text-decoration: none;
    color: white;
   }
   

.container{
    margin: 0 auto;
    width: 1200px;
}